

    <div class="row">

              <div class="collection">

                  <div class="shelf" id="shelf-1">
                      <%= render partial: 'jars', object: @jars[0..3] %>
                   </div>

                  <div class="shelf">
                  </div>

                  <div class="shelf"></div>

                  <!-- <div cla ss="shelf"></div> -->

              </div>
            </div>

   </div>
  </div>


  <div class="modal" id="jar-modal">

   <div class="modal-content">

   </div>

  </div>

  <div class='modal' id='new-jar-modal'>
   <div class='modal-content' id='new-jar'>
       <%= render 'form', jar: Jar.new %>
   </div>
  </div>

  <div class="modal" id="new-item-modal">
    <div class="modal-content">

    </div>
  </div>

  <div class="modal" id="edit-user-modal">
    <div class="modal-content">
      <%= render 'users/edit_form.html.erb' %>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
