<div class="nav-button">
  <%= link_to 'Create a New Jaar', new_jar_path, id: 'new-jar' %>
</div>


/<div class="feed"></div>

  <div class="container">
    <div class="nav-bar">
      <h1>Jaar</h1>
      <ul class="nav-list">
      </ul>
  </div>

      <div class="collection">

          <div class="shelf">
              <%= render partial: 'jars', object: @jars[0..3] %>
           </div>

          <div class="shelf">
          </div>

          <div class="shelf"></div>

          <div class="shelf"></div>
      </div>
    </div>
<div class='modal' id='new-jar-modal'>
  <div class='modal-content'>
      <%= render 'form', jar: Jar.new %>
  </div>
</div>
