<%= form_for [@jar, @item] do |f| %>
<%= f.hidden_field :type_id, {value: @type_id} %>
  <div class="field">
    <%= f.label :type_data, 'Upload your video here' %>
    <%= f.file_field :type_data, id: 'fileupload' %>
  </div>
<% end %>
