h1{
color: white;
text-align: center;
padding-top: 10px;
// position: relative;
right: 160px;

}

.border-box{
 box-sizing: border-box;
}



.jar{
 height: 130px;
 width: 150px;
background-size: cover;

clear: left;
 display: inline-block;
 // border-radius: 10px;
 float: left;
   // border: 1px black solid;
 padding-top: 10px;
 background-image: image-url('imageedit_2_6472725082.png');


}


body{
 margin: auto;
 background-color: #7192c6

}



.collection{
 box-sizing: content-box;
 position: relative;
 height: 600px;
 width: 500px;
 border-radius: 10px;
 left: 30%;
 padding-top: 15px;

}
.shelf{
height: 24%;
border-radius: 10px;
border: 1px white solid;
display: block;
background-image: image-url('K9PZheO1RSiNMMP1ptsl_wood.jpg');
background-size: cover;
font-size:30px;
color: white;

}

.label{
  width: 1em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}


.modal {
 display: none;
 position: fixed;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
 top: 0;
}

.modal-content {
 position: relative;
 width: 50%;
 left: 50%;
 margin-left: -25%;
 top: 100px;
 background-color: peachpuff;

}
