h1{
color: white;
text-align: center;
padding-top: 10px;
// position: relative;
right: 160px;

}

.border-box{
 box-sizing: border-box;
}

.jar{
 height: 130px;
 width: 150px;
<<<<<<< HEAD
background-size: cover;

clear: left;
=======
 background-size: cover;
>>>>>>> 76df6154bf4e8c2ea301ba2bf0643a95895c28b3
 display: inline-block;
 float: left;
<<<<<<< HEAD
   // border: 1px black solid;
=======
>>>>>>> 76df6154bf4e8c2ea301ba2bf0643a95895c28b3
 padding-top: 10px;
 background-image: image-url('imageedit_2_6472725082.png');
}


body{
 margin: auto;
 background-color: #7192c6
}



.collection{
 box-sizing: content-box;
 height: 600px;
 width: 80%;
 border-radius: 10px;
 left: 30%;
 padding-top: 15px;
 margin: auto;
}
.shelf{
height: 24%;
border-radius: 10px;
border: 1px white solid;
display: block;
background-image: image-url('bookshelf.jpg');
background-size: cover;
font-size:30px;
color: white;

}

.label{
  width: 1em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}


.modal {
 display: none;
 position: fixed;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
 top: 0;
}

.modal-content {
 position: relative;
 width: 50%;
 left: 50%;
 margin-left: -25%;
 top: 100px;
 background-color: peachpuff;

}

.jar > h3 {
  text-align: center;
  line-height: 9rem;
}

.alerts {
  color: white;
  text-align: center;
}

h3,
p {
  color: white;
}
